.container {
    --numbers-color: #c7f2cc;
    --operations-color: #fdd0e4;
    font-size: 30px;
    min-height: 400px;
    width: 300px;
    margin: auto;
    background: LightGray;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20% 1fr;
    grid-gap: 10px;
    padding: 10px;
    grid-template-areas: 
        "screens"
        "buttons";
    box-shadow: 4px 4px 1px grey;
}

#screens {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    text-align: end;
    background-color: #2a2c31
}

#operScreen { 
    font-size: 20px;
    padding-right: 8px;
    color: #19d209;
}

#calcScreen {
    padding-right: 8px;
    color: #19d209;
}

#buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 7px;
}

#clear { 
    background:#b83658;
    grid-column: 1 / 3;
    box-shadow: 2px 2px 2px grey;
}
#divide { background: var(--operations-color); box-shadow: 2px 2px 2px grey; }
#multiply { background: var(--operations-color); box-shadow: 2px 2px 2px grey; }
#seven { background: var(--numbers-color); box-shadow: 2px 2px 2px grey; }
#eight { background: var(--numbers-color); box-shadow: 2px 2px 2px grey; }
#nine { background: var(--numbers-color); box-shadow: 2px 2px 2px grey; }
#subtract { background: var(--operations-color); box-shadow: 2px 2px 2px grey; }
#four { background: var(--numbers-color); box-shadow: 2px 2px 2px grey; }
#five { background: var(--numbers-color); box-shadow: 2px 2px 2px grey; }
#six { background: var(--numbers-color); box-shadow: 2px 2px 2px grey; }
#add { background: var(--operations-color); box-shadow: 2px 2px 2px grey; }
#one { background: var(--numbers-color); box-shadow: 2px 2px 2px grey; }
#two { background: var(--numbers-color); box-shadow: 2px 2px 2px grey; }
#three { background: var(--numbers-color); box-shadow: 2px 2px 2px grey; }
#equals { 
    background: var(--operations-color); 
    box-shadow: 2px 2px 2px grey;
    grid-column: 4 / 5;
    grid-row: 4 / 6;
}
#zero { 
    background: var(--numbers-color); 
    box-shadow: 2px 2px 2px grey;
    grid-column: 1 / 3;
}
#decimal { background: var(--numbers-color); box-shadow: 2px 2px 2px grey; }

